* {
 padding: 0;
 margin: 0;
 box-sizing: border-box;
 font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: radial-gradient(circle,rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);

}
.box {
  position: relative;
  width: 700px;
  height: 800px;
  background: rgba(156, 109, 129, 100);
  z-index: 1;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5 );
  border: 1px solid rgba( 255,255, 255, 0.2 );
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(15px);
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 10px;
  background: radial-gradient(circle,rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%) no-repeat;


}
.flipper {
  position: absolute;
  top: 25%;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 1.8rem;
  user-select: none;
}
.colorgenerator {
  position: absolute;
  top: 50%;
  height: 30px;
  width: 100px;
  background-color: rgb(222, 102, 154);
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 5px;
}
.colorcode {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100%;
  width: 100%;
  position: absolute;
  cursor: none;
  letter-spacing: 1.5px;
  font-weight: 500;
  user-select: none;
}
button {
  position: absolute;
  height: 50px;
  width: 300px;
  top: 70%;
  border-radius: 8px;
  border: 2px solid black;
  cursor: pointer;
  user-select: none;
}
button:hover {
  transition: 0.5 linear;
  background-color: rgba(246, 129, 180, 0.5);

}